body{
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1024px;
}
header{
	margin-top: 10px;
}
header p{
	padding-left: 15px;
}
header nav{
	padding: 1px 0px 1px 0px;
	background: #F6661D;
	border-radius: 10px;
}
header nav ul li{
	display: inline-block;
	margin-right: 15px;
	color: white;
	font-weight: bold;

}
section{
	display: inline-block;
	vertical-align: top;
}
#autor {
	width:100%;
	background: #f3f3f3;
	border-radius: 10px;
	padding: 8px 0px 5px 8px;

}
#buscador{
	text-align: center;
}
#buscador input{
	border-radius: 20px;
}
#buscador input[type=search]{
	padding: 3px 0px 3px 0px;
	border: 1px solid gray;
}
#buscador input[type=button]{
	background: #819E9C;
	color:white;
	border: 1px solid black;
	padding: 4px;
}
#buscador span{
	border: 1px solid gray;
	border-radius: 15px;
	padding: 5px 5px 8px 5px;
}
#imgpost{
	width: 100%;
}
#listas{
	width: 90%;
}
#primeraseccion{
	margin-top: 10px;
	width: 63%;
	padding-left: 20px;
}

#segundaseccion{
	margin-top: 40px;
	width: 32%;
	margin-left: 6px;

}

#slider{
	width: 97%;

}
#fondotit{
	background: #F6661D;
	border-radius: 12px;
	padding: 7px 0px 7px 0px;
	text-align: center;
}

#publicidad{
	display: inline-block;
	text-align: center;
}
#redes{
	display: inline-block;
	float: right;
	left: -35px;
	top: -80px;
	position: relative;
}
#s1a3 article{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}
#s1img{
	width: 30%;
	border: 8px solid rgba(150,150,150,0.5);

}
#s1text{
	width: 65%;
	margin-left: 4px;
}
#s1text input{
	background: #C4C6C3;
	border-radius: 8px;
	color: white;
	padding: 11px 9px 11px 9px;
	margin-top: -5px;
}


#s2a1,#s2a2,#s2a3{
	border-radius: 12px;
	background: #fafafa;
	padding-bottom: 15px;
	border: 1px solid gray;
}

#s2a2{
	margin-top: 25px;
}

#s2a3{
	margin-top: 25px;
}
#s2a3 ul li{
	border-bottom: 1px dashed black;
	margin-bottom: 15px;
}
.cursiva{
	color:gray;
	font-style: italic;
}
.letrastit{
	color: white;
	font-weight: bold; 
}

.titulopost{
	font-size: 2em;
	color: gray;
	font-weight: bold;
}